---
const { href, title, bgColour, textColour } = Astro.props;
---

<li class="card" style={`background-color: ${bgColour}; color: ${textColour}`}>
    <div class="card__icon">
        <slot name="icon" />
    </div>
    <h2>
        {title}
    </h2>
    <div class="card__content">
        <slot name="body" />
    </div>
</li>
<style lang="scss">
    .card {
        display: flex;
        flex-direction: column;
        padding: 24px;
        align-items: center;
        text-align: center;
    }
</style>
